rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orangeExcelAssessments/{assessmentId} {
      allow create, read, update, delete: if true;
    }

    match /orangeExcelAttendance/{attendanceId} {
      allow create, read, update, delete: if true;
    }

    match /orangeExcelConfig/{configId} {
      allow read, create, update, delete: if true;
    }

    // Live Training Experience
    match /orangeExcelQuestions/{questionId} {
      allow create, read, update, delete: if true;
    }

    match /orangeExcelPulseResponses/{responseId} {
      allow create, read, update, delete: if true;
    }

    match /orangeExcelPresence/{visitorId} {
      allow create, read, update, delete: if true;
    }
  }
}
